client_max_body_size 270M;

location / {
    try_files $uri /index.php?$uri&$args;
}
 
location ~ \.php$ {
    fastcgi_pass heroku-fcgi;
    fastcgi_split_path_info ^(.+\.php)(/.*)$;
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
}

server {
    listen         80;
    return 301 https://$host$request_uri;
}