/* 
    トップ画面css
*/
.navbar{
    margin-bottom: 0;
}

.europa-inner img{
    width: 100%;
}

.carousel-caption {
    top: 10%;
}

.title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-box{
    margin-bottom: 20px;
}

.panel{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 2;
}

.panel-header{
    text-align: center;
    padding-top: 10px;
    height: 40px;
    background-color: #044a8e;
    color: #f5f5f5;
}

.panel-body{
    height: 180px;
}

.img-box{
    text-align: center;
    margin-bottom: 10px;
}

.box-img{
    width: 100%;
}

.c-c-japan {
    margin-top: 50%;
}